# Weedle's Cave challenge in R 
## Predicting wins and losses between pokémon in Gen 1

### This is "Weedle's Cave" challenge. Can we build a model that'll predict which pocket monster will win or lose?

##### Personal objectives: Get familiar with R.

###### First, Read in the data! We'll read in the pokémon list, the combats that we'll model from, and the final test data that we need to populate for our Kaggle submission. Should be self explanatory, but the super high-level workflow is as follows:

1. Profile/clean/investigate the data
2. Build some models and see what works well
3. Apply the final chosen model to our test data for our Kaggle submission

In [18]:
# first row contains variable names, comma is separator 
# assign the variable id to row names
# note the / instead of \ on mswindows systems 

data_pokemon <- read.csv("/Users/kintesh/Documents/kaggle/pokemon/data/pokemon.csv")
data_combats <- read.csv("/Users/kintesh/Documents/kaggle/pokemon/data/combats.csv")
data_tests <- read.csv("/Users/kintesh/Documents/kaggle/pokemon/data/tests.csv")
# mydata <- read.table("/Users/kintesh/Documents/kaggle/pokemon/data/pokemon.csv", header=TRUE, 
#    sep=",", row.names="id", quote="")

In [19]:
head(data_pokemon,5)
head(data_combats,5)
head(data_tests,5)

  X. Name          Type.1 Type.2 HP Attack Defense Sp..Atk Sp..Def Speed
1 1  Bulbasaur     Grass  Poison 45  49     49      65      65     45
2 2  Ivysaur       Grass  Poison 60  62     63      80      80     60
3 3  Venusaur      Grass  Poison 80  82     83     100     100     80
4 4  Mega Venusaur Grass  Poison 80 100    123     122     120     80
5 5  Charmander    Fire          39  52     43      60      50     65
  Generation Legendary
1 1          False
2 1          False
3 1          False
4 1          False
5 1          False

  First_pokemon Second_pokemon Winner
1 266           298            298
2 702           701            701
3 191           668            668
4 237           683            683
5 151           231            151

  First_pokemon Second_pokemon
1 129           117
2 660           211
3 706           115
4 195           618
5  27           656